@import "./vars.scss";
footer {
    background: var(--primary-color);
    grid-column: 1 /-1;
    p {
        text-align: right;
        padding: 5px;
        font-style: italic;
        color: var(--subtle-color);
        a {
            color: var(--subtle-color) !important;
            // font-family: var(--primary-font) !important;
        }
    }
}