@import "./vars.scss";

.content .index{
    display: flex;
    width: 98%;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    --animation-time: 0.35s;
    min-height: 100vh;
    .card {
        --background-color: var(--primary-color);
        --text-color: var(--accent-color);
        position: relative;
        flex-basis: auto;
        margin: 15px 35px;
        max-width: 350px;
        z-index: 1;
        color: var(--subtle-color);
        font-size: 14px;
        padding-bottom: 30px;
        max-height: 400px;
        &:hover {
            color: var(--subtle-color);
            &:before, &:after {
                height: 100%;
                width: 100%;
                transform: translate(0%, 0%);
            }
            img {
                width: 100%;
            }
        }
        &:nth-child(odd) {
            --background-color: var(--accent-color);
            h3{
                color: var(--primary-color);
            } 
        }
        h3 {
            margin-bottom: 10px;
            color: var(--accent-color);
        }
        img {
            object-fit: cover;
            height: 250px;
            width: 90%;
            transition: width var(--animation-time);
        }
        .card__info {
            width: 80%;
            margin-left: 15%;
            margin-top: 15px;
        }
        &:before, &:after {
            transition: var(--animation-time);
            content: "";
            height: 90%;
            width: 90%;
            position: absolute;
            top: 0%;
            left: 0%;
            z-index: -1;
        }
        &:before {
            background: var(--background-color);
            transform: translate(10%, 10%);
        }
        &:after {
            border: solid 2px var(--background-color);
            transform: translate(11%, 11%);
        }
    }
}
.content .container {
    display: flex;
    height: 100%;
    @media (max-width: 995px) {
        flex-direction: column;
    }
    aside {
        max-width: 200px;
        box-shadow: 3px 40px 12px 0px var(--primary-color);
        min-height: 100%;
        @media (max-width: 995px) {
            max-width: 100%;
        }
        > div {
            position: sticky;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            top: 0;
            min-height: 100vh;
            padding-top: 40px;
            box-sizing: border-box;
            @media (max-width: 995px) { 
                flex-direction: row;
                min-height: max-content;
            }
        }
        .about, .contactForm{
            padding: 20px 20px 0;
            position: relative;
            flex: 1;
            min-width: 150px;
            &:before {
                content: "";
                position: absolute;
                height: 1px;
                background: var(--accent-color);
                width: 90%;
                top: 0;
                left: 5%;
            }
            h3 {
                margin-bottom: 8px;
                color: var(--accent-color);
            }
        }
        form {
            label:focus {
                color: red;
            }
            input:focus, textarea:focus {
                outline: none;
            }
            input, textarea {
                margin-bottom: 8px;
                background: transparent;
                border: none;
                box-shadow: none;
                border-bottom: solid 1px var(--accent-color);
                width: 100%;
                font-family: var(--primary-font);
            }
            button {
                background: var(--accent-color);
                padding: 8px;
                border: none;
                color: var(--primary-color);
                float: right;
            }
        }
        .index__tags {
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: center;
            min-width: 150px;
            .index__tags--nonLink {
                font-weight: bold;
                background: none;
                box-shadow: none;
                &:hover {
                    box-shadow: none;
                }
            }
            p {
                font-size: 12px;
                padding: 4px 8px;
                margin-left: 5px;
                color: var(--primary-color);
                transition: 0.4s;
                box-shadow: inset 0 0 0 2px var(--accent-color);
                margin-bottom: 5px;
                &:hover, &.selected {
                    box-shadow: inset 0 0 0 15px var(--accent-color);
                }
            }
            @media (min-width: 995px) { 
                margin-bottom: 20px;
            }
            @media (max-width: 995px) { 
                flex: 1;
                align-self: center;
                height: max-content;
            }
        }
        footer {
            p {
                font-size: 10px;
                text-align: right;
                padding: 5px;
                font-style: italic;
                a {
                    color: var(--primary-color);
                    font-weight: bold;
                }
            }
            @media (max-width: 995px) { 
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}